
.anji-pics {
  height: 60vh;
  margin: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}


.main-heading {
  margin-top: 40px;
  color: rgb(204, 18, 18);
  font-size: 26px;
}

.underline {
  height: 0.4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #f2f2f2;
}

.footer-links a{
  text-decoration: none;
  color: #f76c2f;
}
.footer-links a:hover {
  color: grey;
}